body{
	background: url('abstract.jpg');
	background-size: cover;
	color: : #fff;
}

.judul {
	font-family: sans-serif;
	font-weight: 24pt;
	color: red;
	text-align: center;
	text-decoration: underline;
}

#thing {
	padding: 10px;
	border: 5px;

	-webkit-transition: padding 2s;
}
#thing:hover {
	padding: 20px;
	border-radius: 15px;

	-webkit-transition: border-radius 2s;
}

.table{

	cursor: pointer;
	text-align: center;
	transition-property: background;
	transition-duration: 1s;
	transition-timing-function: linear;
}
.table:hover {
	background: #ff7b29;
}
